/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2018, 4:18:50 PM
    Author     : Touch-Me
*/
*{
    -fx-first : whitesmoke;
}
#vbM{
    -fx-background-image: url("/image/sell2.png");
    -fx-background-repeat: space;
    -fx-background-color: whitesmoke;
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 9.0, 0.9, 0.0,1.5);
    /*    -fx-effect: innershadow(three-pass-box);*/

}
#vbL{
    -fx-background-image: url("/image/advance2.png");
    /*-fx-background-repeat: stretch;*/
    -fx-background-color: whitesmoke;
    -fx-background-size: stretch;
    -fx-background-position: center center;

}
#vbR{
    -fx-background-image: url("/image/stocks2.png");
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 9.0, 0.9, 0.0,1.5);
    -fx-background-repeat: stretch;
    -fx-background-color: whitesmoke;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.vbL2{
    -fx-background-color: red;

}
.up{
    -fx-background-color: -fx-first;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 5.0, 0.7, 0.0,1.5);
    /*-fx-effect: dropshadow(gaussian , red, 10, 0.7 , 0.0, 1.5);*/
    -fx-padding: 16 16 16 16;
}
.draw{
    -fx-background-color: -fx-first;

    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 5.0, 0.7, 0.0,1.5);
    -fx-padding: 16 16 16 16;
}
.model{
    -fx-background-color : rgba(0,1,0,0.5);
}
.buttons{
    -fx-background-color: #d7c5de;
    /*-fx-border-color:*/ 
}
.textField{
    -fx-text-fill: #0d488a;
    -fx-prompt-text-fill:#0d488a;
}
.up2{
     -fx-background-color: -fx-first;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 5.0, 0.7, 0.0,1.5);
}
/*.root{
    -fx-background-color: 
    -fx-background-image: url("pic.jpg");
}*/
.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
}
.table-view .column-header:last-visible{
    -fx-border-width: 0 0 1 0;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-border-width: 0 1 1 0;
    -fx-border-color: rgba(1,1,1,0.15);
}
.table-view .column-header .label{
    -fx-font-size:16px;
    -fx-text-fill: #d386ff;
    -fx-padding:12 0 12 0;
    -fx-alignment:CENTER;
    -fx-font-family: "Footlight MT Light";
}
.table-view .table-row-cell .table-cell{
    -fx-border-width: 0 0 0 0;
}

.table-view .table-row-cell:selected .table-cell{
    -fx-text-fill: red;
    -fx-border-width: 0 0 0 0;
}
.table-view .table-row-cell:selected{
    -fx-background-color: rgba(0,0,0,0.04);
    -fx-background-insets:0;
}


.table-view .table-row-cell{
    -fx-background-color:transparent;
    -fx-background-insets:0;
}

.table-view .table-column{
    -fx-alignment:CENTER;
    -fx-padding:0 16 0 16;
}

.table-view .table-cell{
    -fx-font-size: 17px;
    -fx-font-family: "Footlight MT Light";
}


.table-view .corner{
    -fx-background-color:transparent;

}
.tree-table-row-cell{
    -fx-background-color : red;
}